*{
  margin: 0; padding: 0; box-sizing: border-box; }

.jumbotron{
  background-color: #8e44ad;
  color: #fff;
  padding: 40px;
  margin-top:20px;
}
.footer{
  background-color:#AAAAAA;

}
.navbar-dark{
  background: #512DA8;
}
.fa-icon{
  border: 1px solid yellow;
  margin: 8px;
  padding: 10px;
  background: #7d5fff;
  border-radius: 10px;
  color: #fff;
}
.fa-icon:hover{
  background: #55ACEE;
  color: #fff;
  transform: translateY(-5px);
  transition: 1s;
}

.thead-dark{
  background:#4b4b4b;
  color: #fff;
}
.r_card{
  height: 80vh;
  margin-bottom: 20px;
}
.card-responsive{
  margin-top:8rem;

}

.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.lgin a{
  cursor: pointer;
  text-decoration:none;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
  align-items: center;

}
.carousel-item h2{
margin-top: 40px;
  margin-left: 20rem!important;
  color: #fff;
}
.carousel-item p,h4{
  padding-left: 20rem;
  color: #fff;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
